<html>
  <head>
  <title>DamIT</title>
  </head>
  <script src="opencpu/jquery-1.10.2.min.js"> </script>
  <script src="opencpu/opencpu-0.4.js"> </script>
  <script>
    $(function(){
    var m = 30;
      //button handler
      $("#plotbutton").on("click", function(e){
        e.preventDefault();
          //perform the request
          //alert("clicked");
          //$("#category_result").text("output[0]");
          var result_req = ocpu.rpc("bundled_result", {
            //n : 30
          }, function(output){
            alert(output);
            $("#category_result").text(output[0]);
          });
          result_req.fail(function(){
              alert("R returned an error: " + req.responseText);
          });
      });
      //plot the default values on page load
      //$("#plotbutton").trigger("click")
    });
  </script>
  <body>
  <button id="plotbutton">Update Graph</button>
  Result: <div id="category_result"></div>
  </body>
</html>
